{% extends "kvizer/base.html" %}
{% block content %}
{% load static %}
<div class="jumbotron jumbotron-fluid big-banner ">
    <div class="container text-center">
        <h1><i>Kvizovi</i></h1>
    </div>
</div>
<ul class="list-group list-group-flush">
    {% for kviz in svi_kvizovi %}
    <li class="list-group-item"><a href="{% url 'start_kviz' kviz.id %}">{{ kviz.godina }} -
            {{kviz.predmet}} - {{ kviz.id_korisnika_id__ime}} {{kviz.id_korisnika_id__prezime}} - {{ kviz.naziv }}
            {% if kviz.rezultat %}
            <spain class="font-weight-bold ml-5">Odradjen</spain>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}