{% extends "kvizer/base.html" %}
{% block content %}
{% load static %}
<div class="row  mt-5 mb-5">
    {% if user.tip == 'Profesor'%}
    <div class="col-sm-6">
        <div class="container p-3 my-3 border text-center bg-dark ">
            <h1>Rezultati</h1>
            {% for kviz in kvizovi %}
            <li class="list-group-item"><a href="{% url 'rezultati' kviz.id %}">{{ kviz.godina }} -
                    {{ kviz.naziv }}</a></li>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container p-3 my-3 border text-center bg-dark ">
            <h1>Koriguj kvizove</h1>

            {% for kviz in kvizovi %}
            <li class="list-group-item"><a href="{% url 'update_kviz' kviz.id %}">{{ kviz.godina }} -
                    {{ kviz.naziv }}</a></li>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container p-3 my-3 border text-center bg-dark ">
        <h1>Rezultati</h1>
        <li class="list-group-item">
            <table class="table table-bordered">
                <tr>
                    <th>Predmet</th>
                    <th>Kviz</th>
                    <th>Bodovi</th>
                </tr>
                {% for kviz in kvizovi %}
                <tr>
                    <td>{{ kviz.id_kviza_id__predmet }}</td>
                    <td>{{ kviz.id_kviza_id__naziv }}</td>
                    <td>{{kviz.bodovi}}</td>
                </tr>
                {% endfor %}
            </table>
        </li>
    </div>
    {% endif %}
</div>

{% endblock %}