{% extends "kvizer/base_kviz.html" %}
{% block content_kviz %}
{% load static %}
<script>



    var timeleft = "{{kviz.trajanje_kviza }}" * 60;
    var downloadTimer = setInterval(function () {
        timeleft--;
        document.getElementById("countdowntimer").textContent = Math.floor(timeleft / 60) + ":" + (timeleft % 60 ? timeleft % 60 : '00');
        if (timeleft <= 0) window.location.href = "{% url 'end_kviz' 1%}";;
    }, 1000);
</script>
<div class="container">

    <h4>Kviz : {{kviz.naziv}}</h4>
    <h4>Preostalo vreme - <span id='countdowntimer'></span></h4>

    <form class="form-group" method="POST">
        {% csrf_token %}

        {% for pitanje, odgovori in pitanja_odgovori.items %}
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th colspan="2">{{pitanje}}</th>
                </tr>
            </thead>
            <tbody>
                {% for odgovor in odgovori %}
                <tr>
                    <td>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="{{odgovor.id}}" name="{{pitanje.id}}"
                                value="{{odgovor.id}}">
                            <label class="custom-control-label" for="{{odgovor.id}}">{{ odgovor }}</label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <div class="col text-center">
            <button type="submit" class="btn btn-success mt-5 mb-5">Zavrsi kviz</button>
        </div>
    </form>
</div>
{% endblock %}