{% extends "kvizer/base.html" %}
{% block content %}
{% load static %}
<script>
    var pocetak_kviza = new Date("{{pocetak_kviza.poetak_kviza|date:'m d Y H:i:s'}}").getTime();
    var trajanje_kviza = parseInt("{{kviz.trajanje_kviza }}") * 60000
    var countDownDate = pocetak_kviza + trajanje_kviza
    var x = setInterval(function () {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("demo").innerHTML =
            + minutes + "m " + seconds + "s ";
        if (distance < 0)
            window.location.href = "{% url 'end_kviz' 0%}";
    }, 1000);

</script>
<div class="container">
    <h1>pocetak{{pocetak_kviza.poetak_kviza|date:" m d Y G:i:s"}}</h1>
    <h4>Kviz : {{kviz.naziv}}</h4>
    <h4>Preostalo vreme - <span id='demo'></span></h4>
    <form class="form-group" method="POST">
        {% csrf_token %}
        {% for pitanje, odgovori in pitanja_odgovori.items %}
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th colspan="2">{{pitanje}}</th>
                </tr>
            </thead>
            <tbody>
                {% for odgovor in odgovori %}
                <tr>
                    <td>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="{{odgovor.id}}" name="{{pitanje.id}}"
                                value="{{odgovor.id}}">
                            <label class="custom-control-label" for="{{odgovor.id}}">{{ odgovor }}</label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <div class="col text-center">
            <button type="submit" class="btn btn-success mt-5 mb-5">Zavrsi kviz</button>
        </div>
    </form>
</div>
{% endblock %}